body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #ffefef;
	background-image: url('../img/typewriter.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

div#contact {
	background-color: hsla(0, 100%, 97%, 0.7);
	width: 70vw;
	height: 90vh;
	border-radius: 10px;
}

div#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 70vw;
	height: 80vh;
}
