body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: #ffefef;
	background-image: url('../img/typewriter.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

div#contact {
	background-color: hsla(0, 100%, 97%, 0.7);
	width: 70vw;
	height: 90vh;
	border-radius: 10px;
	overflow: hidden;
}

div#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 70vw;
	height: 70vh;
}

input, textArea {
	background: hsla(0, 100%, 97%, 0.3);
	border-radius: 5px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-style: double;
	border-bottom-color: #408aac;
	transition: all 0.2s ease;
}

input + p, textArea + p {
	padding-left: 5%;
	opacity: 0%;
	transition: all 0.2s ease;
}

input:hover, textArea:hover {
	background: hsla(0, 100%, 97%, 0.7);
	transition: all 0.2s ease;
}

input:focus, textArea:focus {
	outline: none;
	background: #ffefef;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-color: #e45500;
	border-right-color: #e45500;
	border-bottom-color: #e45500;
	transition: all 0.2s ease;
}

input:focus + p, textArea:focus + p {
	opacity: 100%;
	transition: all 0.2s ease;
}

input[type=submit] {
	background: hsla(199, 46%, 46%, 0.7);
	border-style: none;
	transition: all 0.2s ease;
}

input[type=submit]:hover {
	background: #408aac;
}

input[type=submit]:focus {
	background: #e45500;
}
