h1 {
	font: 700 1.15rem/1.2 "Raleway";
	color: hsl(000, 0%, 33%);
	text-align: center;
}

h2 {
	font: 100 0.8rem/1.2 "Raleway";
	color: hsl(000, 0%, 33%);
	text-align: center;
	margin: 0 10px 0 10px;
}

h3 {
	font: 600 0.85rem/1.2 "Raleway";
	color: hsl(174, 72%, 56%);
	text-align: center;
	margin: 10px 0 5px 0;
}

p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 3vw;
	color: hsl(000, 0%, 33%);
	text-align: center;
}

li {
	font: 400 0.65rem/1.5 "Raleway";
	color: hsl(000, 0%, 33%);
	list-style-type: none;
}

label {
	font: 100 0.65rem/1.2 "Raleway";
	color: hsl(000, 0%, 33%);
}

input, textarea {
	font: 100 0.65rem/1.2 "Raleway";
}

a {
	text-decoration: underline;
}

a.button {
	text-decoration: none;
	border-style: solid;
	border-radius: 1vw;
	border-color: blue;
	border-width: 1px;
	padding: 1vh 2vw 1vh 2vw;
}

li a {
	text-decoration: none;
}
