h1 {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 7vw;
	color: #ffefef;
	text-align: center;
}

h2 {
	font-family: "Raleway";
	font-weight: 100;
	font-size: 4vw;
	color: #ffc8c8;
	text-align: center;
	margin: 0 10px 0 10px;
}

h3 {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 5vw;
	color: hsl(0, 0%, 33%);
	text-align: center;
	margin: 10px 0 5px 0;
}

p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 3vw;
	color: hsl(000, 0%, 33%);
	text-align: center;
}

li {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 3vw;
	color: hsl(000, 0%, 33%);
	list-style-type: none;
}

label {
	font: 100 0.65rem/1.2 "Raleway";
	color: hsl(000, 0%, 33%);
}

input, textarea {
	font: 100 0.65rem/1.2 "Raleway";
}

a:link {
	transition: all 1s ease;
	text-decoration: underline;
	color: #e45500;
}

a:hover {
	background-color: hsla(199, 46%, 46%, 0.5);
	transition: all 1s ease;
	border-radius: 4px;
}

a:active {
	color: #001a1c;
}

a:visited {
	color: #913600;
}


a.button:link {
	text-decoration: none;
	border-style: solid;
	border-radius: 1vw;
	border-color: #e45500;
	border-width: 1px;
	transition: all 1s ease;
	background-color: hsla(22, 100%, 45%, 0.5);
	padding: 1vh 2vw 1vh 2vw;
	color: #00292c;
}

a.button:hover {
	transition: all 1s ease;
	background-color: hsla(22, 100%, 45%, 0.7);
}

li a {
	text-decoration: none;
}
