html {
	font-family: 'Raleway';
	font-size: 10vw;
}

h1 {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 0.9em;
	color: #123b3d;
	text-align: center;
}

h2 {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 0.5em;
	color: #123b3d;
	text-align: center;
	margin: 0 10px 0 10px;
}

h3 {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 0.6em;
	color: #123b3d;
	text-align: center;
	margin: 10px 0 5px 0;
}

p {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 0.4em;
	color: #123b3d;
	text-align: center;
}

li {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 0.3em;
	color: #123b3d;
	list-style-type: none;
}

label {
	font-family: "Raleway";
	font-weight: 100;
	font-size: 0.5em;
	color: #123b3d;
}

input, textarea {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 0.4em;
}

a {
	transition: all 1s ease;
	text-decoration: underline;
	color: #539308;
}

a:hover {
	background-color: hsla(88, 90%, 30%, 0.5);
	transition: all 1s ease;
	border-radius: 4px;
}

a:visited {
	color: #3f6f06;
}

a.button {
	font-size: 0.5em;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-radius: 1vw;
	border-color: #08937f;
	border-width: 1px;
	transition: all 1s ease;
	background-color: hsla(88, 90%, 30%, 0.5);
	padding: 1vh 2vw 1vh 2vw;
	color: #d7e0e0;
}

a.button:hover {
	transition: all 1s ease;
	background-color: hsla(88, 90%, 30%, 0.7);
}

a.button:visited {
	color: #d7e0e0;
}

li a {
	text-decoration: none;
}

@media (min-width: 768px) {
	html {
		font-size: 3vw;
	}
}
