body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../img/code.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

a, a:visited {
	color: #d7e0e0;
	text-decoration: underline !important;
}

div {
	background-color: hsla(161, 90%, 30%, 0.7);
	width: 80vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5vw;
}

ul {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
}
