body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-image: url('../img/social.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

div#title {
	width: 100vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div#links {
	width:100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div#links img {
	width: 20vw;
	height: auto;
}

@media (min-width: 768px) {
	body {
		background-size: 100% auto;
	}
	div#title {
		height: 40vh;
	}
	div#links {
		height: 60vw;
		flex-direction: row;
		justify-content: space-around;
		padding: 0;
	}
	div#links img {
		width: 10vw;
	}
}
