body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	overflow-style: none;
	overflow-x: hidden;
	background-color: #30344c;
}

div#mobile {
	width: 100vw;
	height: 100vh;
	scrollbar-width: 10px;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: 100%;
	overflow-y: auto;
}

div#card {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	scroll-snap-align: start;
	border-radius: 10px;
}

div#cover {
	background: radial-gradient(#ffefef, #408aac);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div#cover svg#logo {
	width: 90%;
	height: auto;
}

div#cover div#top {
	width: 90%;
	display: flex;
}

div#title {
	background-image: url('../img/recording-studio.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	background-color: #ffefef;
	width: 90%;
	height: 75%;
	padding: 5%;
	scroll-snap-align: start;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

footer {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div#title img {
	border-radius: 50%;
}

section img {
	width: 80%;
	height: auto;
	border-radius: 10px;
}

div#cover.flipped {
	transition: all 1s ease;
	transform: none;
}

div#cover.show {
	transition: all 1s ease;
	transform: scaleX(0);
}

div#title.flipped {
	transition: all 1s ease;
	transform: scaleX(0);
}

div#title.show {
	transition: all 1s ease;
	transform: none;
}

div#shade1 {
	opacity: 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: linear-gradient(to right, #282828, hsla(0, 0%, 0%, 0));
	transition: opacity 0.75s ease;
}

div#shade2 {
	opacity: 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: linear-gradient(to left, #282828, hsla(0, 0%, 0%, 0));
	transition: opacity 0.75s ease;
}

div#shade1.on, div#shade2.on {
	transition: all 0.75s ease;
	opacity: 100%;
}

@media (min-width: 768px) {
	div#mobile {
		width: 375px;
		height: 667px;
	}
}

svg#hidden {
	display: none;
}

path {
	stroke-linecap: round;
	stroke-width: 2px;
	stroke: #001a1c;
	fill: none;
}
