body {
	padding: 0;
	margin: 0;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	overflow-style: none;
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: 100vh;
	overflow-x: hidden;
	background-color: #30344c;
}

div#title {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: auto 100vh;
	width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section {
	background-color: white;
	width: 90vw;
	height: 70vh;
	padding: 5vh 5vw 5vh 5vw;
	scroll-snap-align: start;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

footer {
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a.button {
	text-decoration: none;
	border-style: solid;
	border-radius: 1vw;
	border-color: blue;
	border-width: 1px;
	padding: 1vh 2vw 1vh 2vw;
}

div#title img {
	border-radius: 50%;
}

section img {
	width: auto;
	height: 20vh;
	border-radius: 10px;
}
