body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

html::-webkit-scrollbar {
	display: none;
}

html {
	overflow-style: none;
	overflow-x: hidden;
	background-color: #30344c;
}

div#mobile {
	width: 100vw;
	height: 100vh;
	scrollbar-width: 10px;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: 100%;
	overflow-y: auto;
}

div#card {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	scroll-snap-align: start;
	border-radius: 10px;
}

div#cover {
	background-color: #ffefef;
	background-image: url('../img/back_background.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div#cover svg#logo {
	width: 90%;
	height: auto;
}

div#cover div#top {
	width: 90%;
	display: flex;
}

div#title {
	background-color: #ffefef;
	background-image: url('../img/front_background.png');
	background-image: url('../img/front_background.png'), linear-gradient(#0f1921, #ffefef);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div#title div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}

div#title a.button {
	margin-top: 10%;
}

section {
	background-color: #ffefef;
	width: 90%;
	height: 75%;
	padding: 5%;
	scroll-snap-align: start;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: auto;
}

footer {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0f1921;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#title img {
	border-radius: 50%;
}

section img {
	width: 80%;
	height: auto;
	border-radius: 10px;
}

div#cover.flipped {
	transition: all 1s ease;
	transform: none;
}

div#cover.show {
	transition: all 1s ease;
	transform: scaleX(0);
}

div#title.flipped {
	transition: all 1s ease;
	transform: scaleX(0);
}

div#title.show {
	transition: all 1s ease;
	transform: none;
}

div#shadeShow {
	opacity: 0%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: linear-gradient(to right, #282828, hsla(0, 0%, 0%, 0));
	animation-name: hide;
	animation-duration: 0.75s;
}

div#shadeHide {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-image: linear-gradient(to left, #282828, hsla(0, 0%, 0%, 0));
	animation-name: show;
	animation-duration: 0.75s;
}

@keyframes show {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes hide {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}

@media (min-width: 768px) {
	div#mobile {
		min-width: 375px;
		max-width: 375px;
		min-height: 667px;
		max-height: 667px;
	}
}

path {
	stroke-linecap: round;
	stroke-width: 2px;
	stroke: #ffefef;
	fill: none;
}

div#arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: transparent;
	border-top-color: #e45500;
}

p#arrow {
	margin-bottom: 0;
}
